<a href="https://colab.research.google.com/github/prakashpawar4u/IITRML/blob/master/ANN_implementation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install tensorflow-gpu

Collecting tensorflow-gpu
  Downloading tensorflow-gpu-2.12.0.tar.gz (2.6 kB)
  error: subprocess-exited-with-error

  × python setup.py egg_info did not run successfully.
  │ exit code: 1
  ╰─> See above for output.

  note: This error originates from a subprocess, and is likely not a problem with pip.
  Preparing metadata (setup.py) ... error
error: metadata-generation-failed

× Encountered error while generating package metadata.
╰─> See above for output.

note: This is an issue with the package mentioned above, not pip.
hint: See above for details.

In [1]:
import tensorflow as tf
print(tf.__version__)

#Data : https://drive.google.com/file/d/1ZRXIpzLhbtBccjauzROH5AuY3aZl7faW/viewS

2.15.0

In [16]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [28]:
# Importing the dataset
dataset = pd.read_csv('Churn_Modelling.csv')
X = dataset.iloc[:, 3:13]
y = dataset.iloc[:, 13]

In [29]:
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [30]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [31]:
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [32]:
#Feature Engineering
geography = pd.get_dummies(X['Geography'])
geography

#Create dummy variable

      France  Germany  Spain
0          1        0      0
1          0        0      1
2          1        0      0
3          1        0      0
4          0        0      1
...      ...      ...    ...
9995       1        0      0
9996       1        0      0
9997       1        0      0
9998       0        1      0
9999       1        0      0

[10000 rows x 3 columns]

In [33]:
#Create dummy variables
geography=pd.get_dummies(X["Geography"],drop_first=True)
gender=pd.get_dummies(X['Gender'],drop_first=True)

In [34]:
## Drop Unnecessary columns
X=X.drop(['Geography','Gender'],axis=1)

In [35]:
## Concatenate the Data Frames
X=pd.concat([X,geography,gender],axis=1)

In [36]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [39]:
X_test.head(20)

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
9394,597,35,8,131101.04,1,1,1,192852.67,1,0,0
898,523,40,2,102967.41,1,1,0,128702.10,0,0,0
2398,706,42,8,95386.82,1,1,1,75732.25,0,1,0
5906,788,32,4,112079.58,1,0,0,89368.59,0,0,1
2343,706,38,5,163034.82,2,1,1,135662.17,1,0,1
8225,670,57,3,175575.95,2,1,0,99061.75,0,1,0
5506,590,34,0,65812.35,2,0,1,160346.30,0,1,1
6451,636,29,6,157576.47,2,1,1,101102.39,0,1,0
2670,598,64,9,0.00,1,0,1,13181.37,0,0,0
3497,456,63,1,165350.61,2,0,0,140758.07,0,0,0
1087,498,31,10,0.00,2,1,0,13892.57,0,0,0
1819,714,45,8,150900.29,2,0,1,139889.15,0,1,1
2308,488,33,4,140002.35,1,1,0,123613.81,1,0,0
6084,562,31,9,117153.00,1,1,1,108675.01,1,0,0
3724,772,51,9,143930.92,1,0,1,46675.51,1,0,0
3184,667,55,9,154393.43,1,1,1,137674.96,1,0,1
6387,513,43,9,0.00,2,1,0,152499.80,0,0,0
3728,675,66,5,115654.47,2,1,1,131970.86,0,1,1
2702,622,30,4,107879.04,1,0,1,196894.62,0,0,0
7883,551,45,6,0.00,2,1,1,51143.43,0,0,0